.Interested {
  height: 100vh;
  font-family: "Calibre-Semibold";
}

.coffee {
  border: 5px solid transparent;
}

.coffee:hover {
  color: inherit;
  background-color: white;
  border: 5px solid;
  text-decoration: none;
}

.red {
  color: #ec6a6a;
}

.orange {
  color: #fbc07a;
}

.yellow {
  color: #ffdc74;
}

.green {
  color: #a5f29f;
}

.blue {
  color: #82e1f3;
}

.purple {
  color: #c17ae8;
}
