.Hello {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.Hello-body {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.Hello h3 {
  margin-bottom: 0;
}

@media screen and (min-width: 522px) {
  .Hello-body {
    max-width: 35em;
  }
}
