.App {
  overflow-x: hidden;
}
/*=======================
    Global Stylings
=======================*/
a {
  text-decoration: none;
  color: #3FCAE1;
  transition: color 0.15s ease-in;
}

a:hover {
  color: #FC4C8F;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h4,h5,h6 {
  color: #4a4a4a; line-height: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

input,
textarea {
  outline: 0;
}

.rainbow-top {background: linear-gradient(to right, #f76f6f , #fcfc83, #fcca67, #84ffaf, #83e0f7, #ca67e5, #ff87e1);padding: 5px;}
/*=======================
    Custom Stylings
=======================*/
.avatar {
  max-width: 100%;
  width: 225px;
  height: auto;
}
.title {
  font-size: 1.8rem;
  color: #2A2825;
  line-height: 1.125;
  font-weight: 600px;
  margin-bottom: 0;
}
.subtitle {
  color: #82817d;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.25;
  margin-top: 5px;
}
.container {padding: 0 1rem;}
.container-center {padding: 5rem 1.5rem;}
.flex {display: flex;}
.column {flex-direction: column;}
.text-center {text-align: center;}
.text-muted {color: #5b5a5b;}
.text-thin {font-weight: lighter;}
.has-top-buffer {margin-top: 4rem;}
.has-bottom-buffer {margin-bottom: 4rem;}
.has-padding {padding: 4rem 1.5rem;}
.lead {font-size: 1rem; line-height: 1.25em;}
.has-text-primary {color: #FC4C8F;}
.has-pattern-wallpaper {
  color: white;
  background-color: #FC4C8F;
  background-image: url('../../assets/img/pattern-wallpaper.svg');
  background-size: 44rem auto;
  /* background-attachment: fixed; */
  background-position: center;
}
/*=======================
    Button Stylings
=======================*/
.btn {
  padding: calc(.375em - 1px) 1.5em;
  font-weight: 100;
  font-size: 1.2rem;
  color: #FC4C8F;
  border: 2px solid #FC4C8F;
  border-radius: 25px;
  transition: 0.2s all ease-in;
  cursor: pointer;
  outline: 0;
}

.btn:hover {
  color: white;
  background-color: #FC4C8F;
}
/*=======================
    Media Queries
=======================*/

@media screen and (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .title {font-size: 2.5rem;}
  .subtitle {font-size: 1.25rem;}
  .lead {font-size: 1.25rem;}
  .has-desktop-margin {margin: 0 auto;}
  .has-padding {padding-top: 6rem !important; padding-bottom: 6rem !important;}
}

@media screen and (min-width: 992px) {
  .title {font-size: 3rem;}
  .subtitle {font-size: 1.5rem;}
}

@media screen and (min-width: 1088px) {
  .has-desktop-margin {max-width: 1088px;}
}
