.ProjectCard {
  /* font-family: itc-avant-garde-gothic-pro; */
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.ProjectCard:hover {
  transform: translateY(-0.7rem);
}

.ProjectCard__Div--card-wrapper {
  border: 0.2rem solid #f3f1ee;
  border-radius: 1rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.ProjectCard__Div--card-wrapper:hover {
  border: 0.2rem solid #e7e6e4;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.ProjectCard__P {
  color: #82817d;
  font-weight: 500;
  font-size: 0.9rem;
}

.ProjectCard__P--gradient-text {
  color: transparent;
  background: linear-gradient(to right, #7c40ff, #ef52d1);
  background-clip: text;
}
