.portfolio-wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: 'ITC Avant Garde Gothic LT';
}

.project-row:not(:first-child) {
  margin-top: 2rem;
}

.project-row .project:nth-child(2) {
  margin-left: 2rem;
}

.project {
  max-width: 600px;
  width: 100%;
  min-height: 400px;
  border-radius: 4px;
  background-image: linear-gradient(yellow, pink);
  background-repeat: no-repeat;
  background-position: right;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.project:hover {
  transform: translateY(-.70rem);
}

.project-details {
  margin-left: 3rem;
  padding: 1.5rem 0;
}

.project-text {
  max-width: 55%;
  line-height: 35px;
  font-size: 20px;
}

.project-industry-title {
  font-size: .9rem;
}

.project-industry {
  font-size: .84rem;
}

/*=======================
      Project Cards
=======================*/
.hostgator-project-card {
  color: white;
  background-color: #1F90C6;
  background-image: url('../../assets/img/hostgator-snappy.png');
  background-size: 45% 70%;
}

.martian-project-card {
  color: white;
  background-color: #050100;
  background-image: url('../../assets/img/martian-logo.svg');
  background-size: 50% 100%;
}

.homies-project-card {
  color: white;
  background-color: #d74b7c;
  background-image: url('../../assets/img/desktop.png');
  background-size: 50% 90%;
}

.terra-project-card {
  color: black;
  background-color: #FEEEF2;
  background-image: url('../../assets/img/watch.png');
  background-size: 50% 70%;
}

/*=======================
      Media Queries
=======================*/
@media only screen and (max-width: 992px) {
  .project-row {
    flex-direction: column;
  }

  .project-row:not(:first-child) {
    margin-top: 0;
  }

  .project-row .project:nth-child(2) {
    margin-left: inherit;
  }

  .project {
    margin: 1rem 0;
    max-width: none;
    width: 100%;
  }

  .project-text {
    max-width: 45%;
    margin-top: 3.2rem;
    margin-bottom: 3rem;
  }

  .project {
    background-size: 30% 80%;
  }
}


@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {
  .project-text {
    max-width: 60%;
  }

  .project {
    background-image: none;
  }
}
