.portfolio-wrapper {
  margin: 4rem 0;
  font-family: 'ITC Avant Garde Gothic LT';
}

.project-row:not(:first-child) {
  margin-top: 2rem;
}

.project-row .project:nth-child(2) {
  margin-left: 2rem;
}

.project {
  color: white;
  padding: 1.5rem 0;
  max-width: 600px;
  flex-basis: 48.6%;
  border-radius: 4px;
  box-shadow: 0 7px 22px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.project:hover {
  transform: translateY(-.70rem);
}

.project-details {
  margin-left: 3rem;
}

.project-text {
  line-height: 35px;
  font-size: 20px;
}

.project-industry-title {
  font-size: .9rem;
}

.project-industry {
  font-size: .82rem;
}

/*=======================
      Project Cards
=======================*/
.hostgator-project-card {
  background-color: #1F90C6;
  background-image: url('../../assets/img/hostgator-snappy.png');
  background-position: 120% 250%;
  background-size: 40% 80%;
}

.martian-project-card {
  background-color: #050100;
  background-image: url('../../assets/img/martian-logo.svg');
  background-position: 110% 200%;
  background-size: 40% 80%;
}

.terra-project-card {
  color: black;
  background-color: #FEEEF2;
  background-image: url('../../assets/img/watch.png');
  background-position: 160% 300%;
  background-size: 60% 85%;
}

.homies-project-card {
  background-color: #d74b7c;
  background-image: url('../../assets/img/desktop.png');
  background-position: 125% 300%;
  background-size: 45% 90%;
}


/*=======================
      Media Queries
=======================*/
@media only screen and (max-width: 1200px)  {}

@media only screen and (max-width: 992px) {
  .project-row {
    flex-direction: column;
  }

  .project-row:not(:first-child) {
    margin-top: 0;
  }

  .project-row .project:nth-child(2) {
    margin-left: inherit;
  }

  .project {
    margin: 1rem 0;
    max-width: none;
    width: 100%;
  }

  .hostgator-project-card {
    background-size: inherit;
  }

  .martian-project-card {
    background-position: 118% 180%;
  }

  .terra-project-card {
    background-size: 55% 82%;
  }

  .homies-project-card {
    background-size: 40% 95%;
  }

}


@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {
  .project {
    background-image: none;
  }
}
