.PreFooter {
  height: 100vh;
  position: relative;
}

.PreFooter-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
}

.coffee {
  margin: 0 10px;
  padding: 0 5px;
  border: 5px solid transparent;
}

.coffee:hover {
  color: inherit;
  background-color: white;
  border: 5px solid;
}

.red {color: #EC6A6A;}
.orange {color: #fbc07a;}
.yellow {color: #ffdc74;}
.green {color: #a5f29f;}
.blue {color: #82e1f3;}
.purple {color: #c17ae8;}
