.Sidebar {
  font-family: "Calibre-Semibold";
}

.menu-wrap {
  position: fixed;
  height: 100%;
  width: 0%;
  overflow: auto;
  transition: 0.25s;
  z-index: 10;
}

.menu-show {
  width: 100%;
}

.social-icon:hover {
  color: #f446e3;
}
