.Sidebar {
  font-family: "Calibre-Semibold";
  font-size: 1.2rem;
}

.menu-wrap {
  position: fixed;
  height: 100%;
  width: 0%;
  overflow: auto;
  transition: 0.25s;
  z-index: 10;
}

.menu-show {
  width: 100%;
}
