::-webkit-scrollbar {
  background-color: #ff87e1;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background: linear-gradient(
    to bottom,
    #ff87e1,
    #ca67e5,
    #83e0f7,
    #84ffaf,
    #fcfc83,
    #fcca67,
    #f76f6f
  );
}

::selection {
  background: #84fbb8;
}

.App__Div--rainbow-top {
  background: linear-gradient(
    to right,
    #f76f6f,
    #fcca67,
    #fcfc83,
    #84ffaf,
    #83e0f7,
    #ca67e5,
    #ff87e1
  );
  padding: 5px;
}

.App--rainbow-text {
  color: transparent;
  background: linear-gradient(
    to right,
    #f76f6f,
    #fcfc83,
    #fcca67,
    #84ffaf,
    #83e0f7,
    #ca67e5,
    #ff87e1
  );
  background-clip: text;
}
