nav {
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  justify-content: flex-start;
}

.nav-btn-container {
  align-items: center;
  justify-content: flex-end;
}

/*=======================
    Responsive Stylings
=======================*/
@media only screen and (max-width: 768px) {
  nav {
    padding: 0 1em;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    width: 80%;
    margin: 0 auto;
  }
}
