.navbar {
  padding: 1rem 1rem;
  background-image: url('../../assets/img/pattern-wallpaper.svg');
  background-size: 20rem auto;
  background-position: 50%;
}

.nav-left {
  margin-top: .2rem;
}

.app-logo {
  margin: 0;
}

.nav-links-wrapper {
  display: inherit;
}

.navbar-menu {
  margin: 0;
}

.search-wrapper {
  position:relative;
  padding:0;
  margin:0;
}

.search-bar {
  height: 1.5rem;
  border-radius: 10px;
  color: #222;
  margin-right: 1.3rem;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid purple;
}

.search-icon {
  position: absolute;
  bottom: 5px;
  right: 30px;
}

.github-link {
  margin-right: 1rem;
}

.sun-icon,
.moon-icon {
  cursor: pointer;
  margin-bottom: 4px;
  transition: all 0.15s ease-in;
}


.github-link:hover .github-icon-dimensions,
.sun-icon:hover .sun,
.moon-icon:hover .moon {
  stroke: #f446e3;
}


/*=======================
      Toggle Button
=======================*/
.toggle-button {
  display: none;
  position: fixed;
  width: 20px;
  height: 22px;
  transition: .25s;
  z-index: 15;
  margin-left: -45px;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 100%;
  transition: .2s;
}

.toggle-button .menu-bar-top {
  border: 3px solid #222;
  width: 100%;
  border-bottom: none;
  right: 0;
  left: 0;
  top: 0;
}

.toggle-button .menu-bar-middle {
  height: 3px;
  background-color: #222;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 130%;
}

.toggle-button .menu-bar-bottom {
  border: 3px solid #222;
  border-top: none;
  top: 15px;
}

.toggle-button.button-open {
  height: 30px;
  margin-left: -45px;
}

.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .2s;
}

.button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}

.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .2s;
  top: 22px;
}

/*=======================
      Media Queries
=======================*/
@media only screen and (max-width: 768px) {
  .toggle-button {
    display: block;
  }

  .search-wrapper {
    display: none;
  }

  .nav-links-wrapper {
    display: none;
  }
}
