.navbar {
  padding: 1rem 1rem;
  background-image: url('../../assets/img/pattern-wallpaper.svg');
  background-size: 20rem auto;
  background-position: 50%;
}

.navbar-menu { margin: 0; }

.nav-links-wrapper { display: inherit; }

.nav-left {margin-top: .2rem;}

.nav-item {
  display: inline-block;
  line-height: 30px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  margin-right: 1rem;
  cursor: pointer;
}

.nav-item:after {
  display: block;
  content: '';
  border-bottom: solid 2px #f446e3;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.nav-item:hover { color: #f446e3; }

.nav-item:hover:after { transform: scaleX(1); }

.nav-item.fromLeft:after{  transform-origin:  0% 50%; }

.app-logo { margin: 0; }

.search-wrapper {
  position:relative;
  padding:0;
  margin:0;
}

.search-bar {
  height: 1.5rem;
  border-radius: 10px;
  color: #222;
  margin-right: 1.3rem;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid purple;
}

.search-icon {
  position: absolute;
  bottom: 5px;
  right: 30px;
}

.github-link { margin-right: 1rem; }

.sun-icon { cursor: pointer; margin-bottom: 3px; }

.github-link:hover #Github, .sun-icon:hover #Sun { stroke: #f446e3; }

/*=======================
        Sidebar
=======================*/
.show { display: contents; }

.toggle-button {
  display: none;
  position: fixed;
  width: 20px;
  height: 20px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
  margin-left: -50px;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .2s;
}

.toggle-button .menu-bar-top {
  border: 3px solid #222;
  border-bottom: none;
  top: 0;
}

.toggle-button .menu-bar-middle {
  height: 3px;
  background-color: #222;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
  width: 100%;
}

.toggle-button .menu-bar-bottom {
  border: 3px solid #222;
  border-top: none;
  top: 22px;
}

.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .2s;
}

.button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}

.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .2s;
  top: 22px;
}

.menu-wrap {
  font-size: 1.14rem;
  color: #9D9D9D;
  position: fixed;
  height: 100%;
  width: 0%;
  overflow: auto;
  transition: .25s;
  z-index: 10;
}

.menu-show {
  width: 100%;
}

.sidebar-links a {
  margin-top: 2.4rem;
  margin-right: 0;
}

.sidebar-links a:nth-child(4) {
  margin-bottom: 5rem;
}

.sidebar-wolf-logo {
  margin: 0 0 5rem 0;
  filter: sepia(.40);
}

.social-icon {
  font-size: 1.44rem;
}

.social-icon:nth-child(1) {
  margin: 0 20px;
}

.social-icon:hover {
  color: #f446e3;
}

/*=======================
    Media Queries
=======================*/
@media only screen and (max-width: 768px) {
  .toggle-button {
    display: block;
  }

  .search-wrapper { display: none; }

  .nav-links-wrapper { display: none; }

  .dropdown {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .menu-wrap {
    display: none;
  }
}
