:root {
  --color-red-0: #ffb7bd;
  --color-red-100: #ffa5ac;
  --color-red-200: #ff929b;
  --color-red-300: #ff808b;
  --color-red-400: #ff6e7a;
  --color-red-500: #ff5c6a;
  --color-red-600: #ff4a59;
  --color-red-700: #e64350;
  --color-red-800: #cc3b47;
  --color-red-900: #b3343e;
  --color-red-1000: #992c35;
  --color-red-1100: #992c35;
  --color-orange-0: #ffd6a5;
  --color-orange-100: #ffcc8e;
  --color-orange-200: #ffc177;
  --color-orange-300: #ffb761;
  --color-orange-400: #ffad4a;
  --color-orange-500: #ffa234;
  --color-orange-600: #ff981d;
  --color-orange-700: #e6891a;
  --color-orange-800: #cc7a17;
  --color-orange-900: #b36a14;
  --color-orange-1000: #995b11;
  --color-orange-1100: #804c0f;
  --color-yellow-0: #ffe5a5;
  --color-yellow-100: #ffdf8e;
  --color-yellow-200: #ffd877;
  --color-yellow-300: #ffd261;
  --color-yellow-400: #ffcb4a;
  --color-yellow-500: #ffc534;
  --color-yellow-600: #ffbe1d;
  --color-yellow-700: #e6ab1a;
  --color-yellow-800: #cc9817;
  --color-yellow-900: #b38514;
  --color-yellow-1000: #997211;
  --color-yellow-1100: #805f0f;
  --color-green-0: #cff3ae;
  --color-green-100: #c3f19a;
  --color-green-200: #b7ee85;
  --color-green-300: #abeb71;
  --color-green-400: #9fe85d;
  --color-green-500: #93e548;
  --color-green-600: #87e234;
  --color-green-700: #7acb2f;
  --color-green-800: #6cb52a;
  --color-green-900: #5f9e24;
  --color-green-1000: #51881f;
  --color-green-1100: #44711a;
  --color-blue-0: #ade5f7;
  --color-blue-100: #99def6;
  --color-blue-200: #84d7f4;
  --color-blue-300: #70d1f2;
  --color-blue-400: #5bcaf0;
  --color-blue-500: #47c4ee;
  --color-blue-600: #32bdec;
  --color-blue-700: #2daad4;
  --color-blue-800: #2897bd;
  --color-blue-900: #2384a5;
  --color-blue-1000: #1e718e;
  --color-blue-1100: #195f76;
  --color-purple-0: #dbc3eb;
  --color-purple-100: #d2b4e6;
  --color-purple-200: #c9a4e0;
  --color-purple-300: #c095db;
  --color-purple-400: #b786d6;
  --color-purple-500: #ae77d1;
  --color-purple-600: #a568cc;
  --color-purple-700: #955eb8;
  --color-purple-800: #8453a3;
  --color-purple-900: #73498f;
  --color-purple-1000: #633e7a;
  --color-purple-1100: #533466;
  --color-pink-0: #fec8e3;
  --color-pink-100: #febadc;
  --color-pink-200: #fdacd4;
  --color-pink-300: #fd9ecd;
  --color-pink-400: #fd91c6;
  --color-pink-500: #fc83bf;
  --color-pink-600: #fc75b8;
  --color-pink-700: #e369a6;
  --color-pink-800: #ca5e93;
  --color-pink-900: #b05281;
  --color-pink-1000: #97466e;
  --color-pink-1100: #7e3b5c;
  --color-neutral-0: #ffffff;
  --color-neutral-100: #f7f7f7;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #cfcfcf;
  --color-neutral-400: #afafaf;
  --color-neutral-500: #929292;
  --color-neutral-600: #777777;
  --color-neutral-700: #5d5d5d;
  --color-neutral-800: #4b4b4b;
  --color-neutral-900: #353535;
  --color-neutral-1000: #1e1e1e;
  --color-neutral-1100: #000000;
  --color-blob-purple: #a568cc;
  --color-gem-purple: #c095db;
  --color-mars: #ff4a59;
  --color-sun: #ff981d;
  --color-saturn: #ffbe1d;
  --color-earth: #87e234;
  --color-neptune: #32bdec;
  --color-gliese: #fc75b8;
  --color-eclipse: #4b4b4b;
  --color-moon: #777777;
  --color-asteroid: #afafaf;
  --color-comet: #e5e5e5;
  --color-star: #f7f7f7;
  --color-supernova: #ffffff;
  --color-x: #000000;
  --color-git-hub: #6e5494;
  --color-telegram: #0088cc;
  --color-discord: #7289da;
  --color-bitcoin: #f7931a;
  --color-ethereum: #111111;
  --color-ethereum-gray: #63688f;
  --color-polygon: #8247e5;
  --color-solana: rgba(0, 0, 0, 0);
  --color-solana-purple: #9945ff;
  --color-solana-green: #14f195;
  --color-sui: #6fbcf0;
  --typography-size-0-px: 12px;
  --typography-size-0-rem: 0.75rem;
  --typography-size-0-line-height: 140%;
  --typography-size-100-px: 14px;
  --typography-size-100-rem: 0.875rem;
  --typography-size-100-line-height: 140%;
  --typography-size-200-px: 16px;
  --typography-size-200-rem: 1rem;
  --typography-size-200-line-height: 140%;
  --typography-size-300-px: 17px;
  --typography-size-300-rem: 1.0625rem;
  --typography-size-300-line-height: 140%;
  --typography-size-400-px: 19px;
  --typography-size-400-rem: 1.1875rem;
  --typography-size-400-line-height: 140%;
  --typography-size-500-px: 21px;
  --typography-size-500-rem: 1.3125rem;
  --typography-size-500-line-height: 100%;
  --typography-size-600-px: 24px;
  --typography-size-600-rem: 1.5rem;
  --typography-size-600-line-height: 100%;
  --typography-size-700-px: 28px;
  --typography-size-700-rem: 1.75rem;
  --typography-size-700-line-height: 100%;
  --typography-size-800-px: 32px;
  --typography-size-800-rem: 2rem;
  --typography-size-800-line-height: 100%;
  --typography-size-900-px: 36px;
  --typography-size-900-rem: 2.25rem;
  --typography-size-900-line-height: 100%;
  --typography-size-1000-px: 44px;
  --typography-size-1000-rem: 2.75rem;
  --typography-size-1000-line-height: 100%;
  --typography-size-1100-px: 48px;
  --typography-size-1100-rem: 3rem;
  --typography-size-1100-line-height: 100%;
  --typography-size-1200-px: 56px;
  --typography-size-1200-rem: 3.5rem;
  --typography-size-1200-line-height: 100%;
  --typography-weight-black: 800;
  --typography-weight-bold: 700;
  --typography-weight-semibold: 600;
  --typography-weight-medium: 500;
  --typography-weight-regular: 400;
  --typography-weight-light: 300;
  --typography-weight-thin: 200;
  --spacer-0-px: 0px;
  --spacer-0-rem: 0rem;
  --spacer-100-px: 2px;
  --spacer-100-rem: 0.125rem;
  --spacer-200-px: 4px;
  --spacer-200-rem: 0.25rem;
  --spacer-300-px: 8px;
  --spacer-300-rem: 0.5rem;
  --spacer-400-px: 12px;
  --spacer-400-rem: 0.75rem;
  --spacer-500-px: 16px;
  --spacer-500-rem: 1rem;
  --spacer-600-px: 24px;
  --spacer-600-rem: 1.5rem;
  --spacer-700-px: 32px;
  --spacer-700-rem: 2rem;
  --spacer-800-px: 40px;
  --spacer-800-rem: 2.5rem;
  --spacer-900-px: 60px;
  --spacer-900-rem: 3.75rem;
  --spacer-1000-px: 80px;
  --spacer-1000-rem: 5rem;
}

[data-theme="dark"] {
  --color-neutral-0: #ffffff;
  --color-neutral-100: #ecebec;
  --color-neutral-200: #d8d8d9;
  --color-neutral-300: #c5c4c7;
  --color-neutral-400: #9e9da1;
  --color-neutral-500: #8a898d;
  --color-neutral-600: #6d6b71;
  --color-neutral-700: #59575b;
  --color-neutral-800: #464449;
  --color-neutral-900: #27252a;
  --color-neutral-1000: #1f1c22;
  --color-neutral-1100: #000000;
  --color-blob-purple: #a568cc;
  --color-gem-purple: #c095db;
  --color-mars: #ff4a59;
  --color-sun: #ff981d;
  --color-saturn: #ffbe1d;
  --color-earth: #87e234;
  --color-neptune: #32bdec;
  --color-gliese: #fc75b8;
  --color-eclipse: #ecebec;
  --color-moon: #9e9da1;
  --color-asteroid: #6d6b71;
  --color-comet: #464449;
  --color-star: #27252a;
  --color-supernova: #1f1c22;
}
