.Tech {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background-image: url("../../../../assets/img/pattern-wallpaper.svg");
  background-size: 44rem auto;
  background-position: 50%;
}

.tech-wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2.2rem;
}

.tech-header h3 {
  font-size: 1.7rem;
}

.tech-header h4 {
  font-size: 1.1rem;
}

.magic {
  color: #890ef4;
}

.magic:hover {
  color: #890ef4;
}

.Tech ul {
  list-style: disc;
  padding-left: 20px;
  margin-top: 0;
}

.stack {
  border-radius: 6px;
  padding: 2rem;
  flex-basis: 25%;
  box-shadow: 0 7px 22px rgba(0, 0, 0, 0.2);
}

.stack-name {
  padding-bottom: 10px;
}

/*=======================
      Media Queries
=======================*/
@media only screen and (max-width: 992px) {
  .stack {
    flex-basis: 22%;
  }
}

@media only screen and (max-width: 768px) {
  .stack {
    margin-top: 3rem;
  }

  .tech-body {
    flex-direction: column;
  }
}
