.divider {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: calc(var(--border-width) * 2);
}

.block {
  width: 100%;
  &:nth-child(1) {
    background-color: var(--color-mars);
  }
  &:nth-child(2) {
    background-color: var(--color-sun);
  }
  &:nth-child(3) {
    background-color: var(--color-saturn);
  }
  &:nth-child(4) {
    background-color: var(--color-earth);
  }
  &:nth-child(5) {
    background-color: var(--color-neptune);
  }
  &:nth-child(6) {
    background-color: var(--color-gliese);
  }
  &:nth-child(7) {
    background-color: var(--color-blob-purple);
  }
}
