/*=======================
    Global Stylings
=======================*/
.App {
  overflow-x: hidden;
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

.rainbow-top {background: linear-gradient(to right, #f76f6f , #fcfc83, #fcca67, #84ffaf, #83e0f7, #ca67e5, #ff87e1);padding: 5px;}

/*=======================
    Custom Stylings
=======================*/
.avatar {
  max-width: 100%;
  width: 225px;
  height: auto;
}
.title {
  font-size: 2.3rem;
  color: #363636;
  line-height: 1.125;
  font-weight: 600px;
  margin-bottom: 0;
}
.subtitle {
  color: #4a4a4a;
  font-size: 1.35rem;
  font-weight: 300;
  line-height: 1.25;
}
.container{padding: 0 1rem;}
.container-center {padding: 5rem 1.5rem;}
.flex {display: flex;}
.column {flex-direction: column;}
.text-center {text-align: center;}
.text-muted {color: #5b5a5b;}
.text-thin{font-weight: lighter;}
.has-top-buffer {margin-top: 4rem;}
.has-bottom-buffer {margin-bottom: 4rem;}
.lead {font-size: 1.15rem; line-height: 1.25em;}
.has-text-primary {color: #FC4C8F;}

.has-pattern-wallpaper {
  color: white;
  background-color: #FC4C8F;
  background-image: url('../../assets/img/pattern-wallpaper.svg');
  background-size: 44rem auto;
  background-attachment: fixed;
  background-position: center;
}

/*=======================
    Button Stylings
=======================*/
.btn {
  padding: calc(.375em - 1px) .75em;
  font-weight: 100;
  font-size: 18px;
  color: #FC4C8F;
  border: 2px solid #FC4C8F;
  border-radius: 20px;
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #FC4C8F;
}

/*=======================
    Media Queries
=======================*/

@media only screen and (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }

  .title {font-size: 3rem;}
  .subtitle {font-size: 1.5rem;}
  .lead {font-size: 1.25rem;}
}

/* @media only screen and (min-width: 992px) {} */
@media only screen and (min-width: 1088px) {
  .has-desktop-margin {
    max-width: 1200px;
  }
}

/* @media only screen and (min-width: 1200px) {} */
