.Footer__Li {
  color: #82817d;
  font-size: 0.9rem;
}

.Footer__A--contact {
  color: #000;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.Footer__A--contact:hover {
  color: #f446e3 !important;
}

.Footer--border-bottom {
  border-bottom: 2px solid #e7e6e4;
}
