.App {
  overflow-x: hidden;
}

.rainbow-top {
  background: linear-gradient(
    to right,
    #f76f6f,
    #fcca67,
    #fcfc83,
    #84ffaf,
    #83e0f7,
    #ca67e5,
    #ff87e1
  );
  padding: 5px;
}

.hyphens {
  background: url("./assets/img/hyphens.svg");
  height: 1px;
  width: 100%;
}

::-webkit-scrollbar {
  background-color: #ff87e1;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background: linear-gradient(
    to bottom,
    #ff87e1,
    #ca67e5,
    #83e0f7,
    #84ffaf,
    #fcfc83,
    #fcca67,
    #f76f6f
  );
}

::selection {
  background: #84fbb8;
}

.box-shadow {
  box-shadow: 0 7px 22px rgba(0, 0, 0, 0.2);
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
