/*=======================
          Fonts
=======================*/
/* calibre-medium - latin */
@font-face {
  font-family: 'Calibre';
  font-style: bold;
  font-weight: 600;
  src: local('Calibre'), local('Calibre-Medium'),
       url('./assets/fonts/calibre-medium.woff2') format('woff2'),
       url('./assets/fonts/calibre-medium.ttf') format('truetype'),
}
/* calibre-regular - latin */
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: local('Calibre'), local('Calibre-Regular'),
       url('./assets/fonts/calibre-regular.woff2') format('woff2'),
       url('./assets/fonts/calibre-regular.ttf') format('truetype'),
}

/* ITC Avant Garde Gothic LT Bold - latin */
@font-face {
  font-family: 'ITC Avant Garde Gothic LT';
  font-style: bold;
  font-weight: 600;
  src: local('ITC Avant Garde Gothic LT'), local('ITC-Avant-Garde-Gothic-LT'),
       url('./assets/fonts/itc-avant-garde-gothic-lt-bold.otf') format('otf'),
}
/* ITC Avant Garde Gothic LT Regular - latin */
@font-face {
  font-family: 'ITC Avant Garde Gothic LT';
  font-style: normal;
  font-weight: 400;
  src: local('ITC Avant Garde Gothic LT'), local('ITC-Avant-Garde-Gothic-LT'),
       url('./assets/fonts/itc-avant-garde-gothic-lt-book-regular.otf') format('otf'),
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Calibre', Arial, "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  background-color: #ff87e1;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background: linear-gradient(to bottom, #ff87e1 , #ca67e5, #83e0f7, #84ffaf, #fcca67, #fcfc83, #f76f6f);
}

::selection {
  background: #84FBB8;
}
