html,
body,
.App,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  background-color: #ff87e1;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background: linear-gradient(
    to bottom,
    #ff87e1,
    #ca67e5,
    #83e0f7,
    #84ffaf,
    #fcfc83,
    #fcca67,
    #f76f6f
  );
}

::selection {
  background: #84fbb8;
}

/* Fonts */
@font-face {
  font-family: "Calibre-Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Calibre-Semibold"),
    url("./assets/fonts/calibre-semibold.woff") format("woff");
}
