body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*=================================
            Scroll Bar
======================================*/
::-webkit-scrollbar {
  background-color: #ffffff;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background: linear-gradient(to bottom, #ff87e1 , #ca67e5, #83e0f7, #84ffaf, #fcca67, #fcfc83, #f76f6f);
}
